* {
  border: none;
  border-radius: 0;
  font-family: 'Liberation Sans', 'Ubuntu Nerd Font';
  /* font-size: 12px; */
  min-height: 0;
}

window#waybar {
  background-color: #13131a;
  /* background-color: #16161c; */
  color: #ffffff;
  /* border-left: solid 5px transparent; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  font-size: 14px;
}
#workspaces button {
  background-color: transparent;
  color: #ffffff;
  padding: 0 10px;
  margin: 0;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #78dce8;
  color: #13131a;
}

#workspaces button.urgent {
  background-color: #fc6a67;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray,
#idle_inhibitor {
  padding: 0 10px;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
}

#window {
  color: #fc9867;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #fc6a67;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}
