window {
  margin: 5px;
  padding: 10px;
  /* border: 2px solid red;
  background-color: red; */
}

#input {
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
 
  /* border: 2px solid blue; */
  /* background-color: blue; */
  
}

#input::placeholder {
  color: red;
}

#inner-box {
  margin: 5px;
  /* border: 2px solid yellow;
  background-color: yellow; */
}

#outer-box {
  margin: 5px;
  padding: 10px;
  /* border: 2px solid green;
  background-color: green; */
}

#scroll {
  margin: 5px;
  /* border: 2px solid orange;
  background-color: orange; */
}

#text {
  margin-left: 10px;
  /* border: 2px solid cyan;
  background-color: cyan; */
}
